* {
    box-sizing: border-box;
}
html, body {
    color: crimson;
    display: block;
    padding: 0px;
    margin: 0px;
    border: 0px;
    height: 100%;
    overflow: hidden;
    background-color: black;
}
.basicBorder {
    border: dashed yellow;
    border-radius: 0.5rem;
}
#MainWrapper {

}